#{extends 'main.html' /} #{set title:'Início - SIARC: Sistema de
Automação de Ar Condiciondos' /}
<div class="container text-center">
<img class="capa" src="@{'/public/images/capa.svg'}">
</div>
<h3>Seja bem vind@!</h3>
<br />
<div class="corpo-home">
<div class="row text-center">
<div class="card" style="width: 24rem;">
	<img src="@{'/public/images/aparelhos-card.svg'}" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">Terminal de Aparelhos</h5>
	  <ul class="list-unstyled mt-3 mb-4">
		<li>Gerenciar Aparelhos</li>
		<li>Realizar Agendamentos</li>
	</ul>
	  <a href="@{Aparelhos.menu}" class="btn btn-primary">Acessar</a>
	</div>
  </div>
  #{if session.get('funcao') == session.get('adm')}
  <div class="card" style="width: 24rem;">
	<img src="@{'/public/images/usuarios-card.svg'}" class="card-img-top" alt="...">
	<div class="card-body">
	  <h5 class="card-title">Terminal de Usuários</h5>
	  <ul class="list-unstyled mt-3 mb-4">
		<li>Gerenciar Usuários</li>
		<li>Modificar Permissões de Usuários</li>
	</ul>
	  <a href="@{Usuarios.menu}" class="btn btn-primary">Acessar</a>
	</div>
  </div>
  #{/if}
  </div>
</div>