#{extends 'main.html' /} #{set title:'Lista de Usuários' /}

<div class="container">
	<h3 style="text-align: center">Usuários</h3>
	<hr>

	<form action="@{Usuarios.listar}">
		<div class="input-group mb-3">
		<input type="text" name="termo" class="form-control"
			placeholder="Pesquisar" aria-label="Pesquisar"
			aria-describedby="button-addon2">
		<input class="btn btn-primary" value="Pesquisar" type="submit"
			id="button-addon2">
	</div>
	</form>

	<hr>

	<div class="table-responsive">
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Email</th>
					<th>Matrícula</th>
					<th>Função</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				#{list items: usuarios, as:'usuario'}
				<tr>
					<td>${usuario.nome} ${usuario.sobrenome}</td>
					<td>${usuario.email}</td>
					<td>${usuario.matricula}</td>
					<td>${usuario.funcao}</td>
					<td><a href="@{Usuarios.detalhar(usuario.id)}"
						class="btn btn-info"><i class="bi bi-info-circle"></i></a> <a
						href="@{Usuarios.editar(usuario.id)}" class="btn btn-primary"><i
							class="bi bi-pencil-square"></i></a> <a
						href="@{Usuarios.remover(usuario.id)}" class="btn btn-danger"><i
							class="bi bi-trash"></i></a></td>
				</tr>
				#{/list}
			</tbody>
		</table>
	</div>
	<a href="@{Usuarios.cadastrar}" class="btn btn-primary">Novo</a> <a
		href="@{Usuarios.menu}" class="btn btn-primary">Voltar</a>
</div>